<!DOCTYPE html>
<html lang="en"   xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="main/bootstrap.min.css">
<script src="main/jquery.min.js"></script>
<script src="main/popper.min.js"></script>
<script src="main/js/bootstrap.min.js"></script>
<title>Aqua Royal</title>




<style type="text/css">

.fejlec{
display: flex;
justify-content: space-around;
}



</style>
<script type="text/javascript">


// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=500,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>
</head>
<body style="background-color:  #f6f4f8">


	
		
		
			
			

<div class="container" style="margin-bottom:0">
	<div class="fejlec">
			<div layout:fragment="infoBar">
			
			  <h1>Aqua Royal Kft.</h1>
			
			    <div th:if="${noemploye}" class="alert alert-danger">
			  	<strong>Nincs rabszolgád!</strong> Előbb regisztrálj legalább egy kollégát!
			    </div>
				
				<div th:if="${noproduct}" class="alert alert-danger">
			  	<strong>Nincs terméked!</strong> Előbb regisztrálj legalább egy terméket!
				</div>
				
				<div th:if="${nostock}" class="alert alert-danger">
			  	<strong>Nincs miből selejtezni!</strong> Vigyél fel készletet!
				</div>
				
				<div th:if="${delsuccess}" class="alert alert-success">
			  	<strong>Sikeres törlés</strong>
				</div>
				
				<div th:if="${delfail}" class="alert alert-danger">
			  	<strong>Nem törölhető!</strong> Ügyfelek hivatkoznak rá!
				</div>
				
			 </div>
	
	</div>
	</div>
		
		
	

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black">
  <a class="navbar-brand" href="/">Aqua Royal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    
      
        <div class="btn-group" style="padding-right:20px">
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Termékek</button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="/newproduct">Új termék</a>
		    <a class="dropdown-item" href="/productlistsimple">Termék lista</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="#">Separated link</a>
		  </div>
		</div>
        <div class="btn-group" style="padding-right:20px">
		  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ügyfelek</button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="/newcompany">Új ügyfél</a>
		    <a class="dropdown-item" href="/companylist">Ügyfél lista</a>
		    
		    
		  </div>
		</div>
        <div class="btn-group" style="padding-right:20px">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Készlet</button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="/eladas">Eladás</a>
		    <a class="dropdown-item" href="/beerkezes">Beérkezés</a>
		    <a class="dropdown-item" href="/selejt">Selejt</a>
		    <a class="dropdown-item" href="/kamion">Kamion</a>
		    <a class="dropdown-item" href="/alapkeszlet"><font color="red">Alapkészlet beállítás</font></a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="/keszletlista">Készlet lista</a>
		    <a class="dropdown-item" href="/keszletmozgaslista">Készletmozgás lista</a>
		    <a class="dropdown-item" href="/lekerdezes">Lekérdezés</a>
		    
		    
		  </div>
		</div>
		<div class="btn-group" style="padding-right:20px">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kollégák</button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="/newemp">Új kolléga</a>
		    <a class="dropdown-item" href="/employelist">Lista</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="/newday">Új nap... (hétfő, kedd...)</a>
		    <a class="dropdown-item" href="/createfixlist">Összeállítás...</a>
		    <a class="dropdown-item" href="/loadfixlist">Fixlista betöltés...</a>
		  </div>
		</div>
		<div class="btn-group" style="padding-right:20px">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gépek</button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="/newmachine">Új gép</a>
		    <a class="dropdown-item" href="/machinelist">Géplista</a>
		    <a class="dropdown-item" href="/history">History</a>
		    <a class="dropdown-item" href="/reminder">Emlékeztető</a>
		    <a class="dropdown-item" href="/reminderAllList">Összes emlékeztető</a>
		    
		  </div>
		</div>
    
    </div>
    	<div th:if="${reminder}"><a href="JavaScript:newPopup('/reminderlist');" style="margin-right: 30px"><img alt="" src="images/csengo.gif" height="30px"></a></div>
			<div th:if="${csengo}">
    
    <p th:each="list:${csengo}" th:text="${list.comment}"></p>

			</div>
		
		<div th:unless="${reminder}" style="margin-right: 30px"><img alt="" src="images/dispenser.png" height="50px"></div>
    
   <a href="uresdaylist.html">Üres lista</a>
 
</nav>

<div class="container" style="margin-top:30px;background-color:  #8ceaf9;align-items: center;border-radius: 5px;box-shadow: 10px 4px 30px -3px rgba(133,126,133,1); " >

  <div class="row" >
   
    
    <div class="col-sm-12">
    <div layout:fragment="workBar"  style="margin:30px;">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    	</div>
    </div>
    </div>
        
  </div>


<!-- <div class="jumbotron text-center" style="margin-bottom:0;position:absolute"> -->
<!--   <p>Footer</p> -->
<!-- </div> -->
</body>
</html>