<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" layout:decorate="layouts/main">


<head>


<style>
.info{

display:flex;
justify-content: space-around;
flex-direction: row;
align-items: center;
margin-top: 10px;
margin-bottom: 10px;
}

h3{
color:red;
}

</style>



<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<div layout:fragment="infoBar">
	<div class="info">
  		<div><h3>Az adott termék minden eddigi készletmozgás adata törlődik!</h3></div>
 		 <div><img src="images/warehouse.jpg" width="300" height="200"></img></div>
 	 </div>
 </div>
 
 
<div layout:fragment="workBar">

<p>Miből akarsz alapkészletet megadni?</p>

<form method="post" action="/alapkeszletToDb" onSubmit="if(!confirm('Mented a változásokat?')){return false;}">
<select name="pid">

<option th:each="product:${products}" th:text="${product.name}" th:value="${product.id}" ></option>

</select>
<div class="input-group input-group-sm mb-3" style="margin-top:20px">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Mennyiség:</span>
  </div>
  <input type="number" name="darab" min="0" max="2000" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
</div>

<div class="input-group input-group-sm mb-3" style="margin-top:20px">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Dátum: </span>
  </div>
  <input type="date" name="bday" required>
</div> 

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Megjegyzés:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="comment">
</div>

<button type="submit" id="submit_button" >RÖGZÍT</button>

</form>

<p class="alert alert-success" th:if="${success}"  style="margin-top:20px">Sikeres alapkészlet beállítás</p>
<p class="alert alert-danger" th:if="${fos}"  style="margin-top:20px">Töltsd ki a <strong>Mennyiség</strong> mezőt</p>


</div>



</body>
</html>