<!DOCTYPE html>
<html layout:decorate="layouts/main" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>

<div layout:fragment="infoBar">
<h1>Bevételezés</h1>
<p>Ide írod a nap végi visszahozott <strong>üres ballonokat, és a kamionos, vagy más fajta teli ballonok, gépek</strong> beérkezését</p>
  
  
  <div th:if="${regok}" class="alert alert-success">
  <strong>Siker!</strong> Termék sikeresn regisztrálva
</div>

<div th:if="${vanmar}" class="alert alert-danger">
  <strong>Van már ilyen!</strong> Mondtam, hogy nézd meg a listát!
</div>
  
</div>


<div layout:fragment="workBar">

<form method="post" th:object="${stock}" th:action="@{/beerkezesToDb}" onSubmit="if (!confirm('Biztos vagy benne?')) return false;">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Ki hozta?</span>
  </div>
  <select th:field="*{employe}">
  <option  th:if="${utolsoemploye}" th:text="${utolsoemploye.name}" th:value="${utolsoemploye.id}"></option>   <!--utoljára rögzítet EMPLOYE -->
  	<option  th:each="emp:${emps}" th:text="${emp.name}" th:value="${emp.id}"></option>
  </select>
</div>


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Mit hozott?</span>
  </div>
  <select th:field="*{product}"><option  th:each="prod:${products}" th:text="${prod.name}" th:value="${prod.id}"></option></select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Mennyiség:</span>
  </div>
  <input type="number" min="1" max="2000" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{amount}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Dátum: </span>
  </div>
  <input type="date" name="bday" th:field="*{date}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Leírás, információ</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{comment}">
</div>







<button type="submit" class="btn btn-outline-success">Rögzítés</button>



</div>

</form>

</body>
</html>