<!DOCTYPE html>
<html xmlns:th="wwww.thymeleaf.org" layout:decorate="layouts/main">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>


<body>

<div layout:fragment="infoBar">
<h1>Elszámolás: BEÉRKEZÉS</h1>
<p>Ide írod a nap végi visszahozott <strong>általában ÜRES BALLONOKAT vagy kamion, Kaba, Milota, Cegléd, Furta...</strong> </p>
    
</div>

<div layout:fragment="workBar" class="foablak">
<div th:if="${beerkezesok}" class="alert alert-success">
					<strong>Sikeres rögzítés</strong>
				</div>

<form th:action="@{/elszamolasbe2}" method="post" onSubmit="if (!confirm('Biztos vagy benne?')) return false;">
<div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Dátum: </span>
  </div>
  <input type="date" name="bday" required>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Ki hozta?</span>
  </div>
  <select name="empid">
  
  	<option  th:each="emp:${emps}" th:text="${emp.name}" th:value="${emp.id}"></option>
  </select>
</div>



</div>
<div>

<table  align="center">
<tr class="termek" th:each="list:${termekek}">


<td class="baloldal"><input  type="hidden" th:value="${list.id}" name="pid"><label th:text="${list.name}"></label></td>

<td><input class="lista" type="number" th:id="${list.id}" name="darab" value="0"></td>
<td><input class="lista" type="text" name="comment" placeholder="...megjegyzés"></td>
<!-- <input  class="gomb" type="submit" th:value="${list.name}" th:onclick="'javascript:document.getElementById('+${list.id}+').disabled=true'"> -->




</tr>
</table>


</div>





<input type="submit" value="BEÉRKEZÉS RÖGZÍTÉSE" >
</form>
</div>


</body>
</html>