<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">

<style>
td{
width:150px;
}

</style>

</head>
<body>


  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        
        <td>Gép</td>
        <td>Sorszam</td>
        <td>Tipus</td>
        <td>Megjegyzés</td>
        

      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${machines}">
        <td th:text="${list.name}">Doe</td>
        <td th:text="${list.sorszam}">Doe</td>
        <td th:if="${list.type==1}">Hideg-Meleg</td>
        <td th:if="${list.type==2}">Co2 Poharas</td>
        <td th:if="${list.type==3}">Co2 Szivattyús</td>
        <td th:if="${list.type==4}">Hálózati Sima</td>
        <td th:if="${list.type==5}">Hálózati Co2</td>
        <td th:text="${list.comment}">Doe</td>
      </tr>
      
    </tbody>
  </table>




</body>
</html>