<!DOCTYPE html>
<html layout:decorator="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/list.css">
<script src="js/list.js"></script>


<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );


function calc(id)
{
  if (document.getElementById(id).checked) 
  {
      document.getElementById('rogzit').disabled = false;
  } else {
	  document.getElementById('rogzit').disabled = true;
  }
}
</script>

</head>
<body>

<div layout:fragment="infoBar">
<h1>Ügyfelek listája</h1>
  <p>A törléssel csak óvatosan</p>

</div>

<div layout:fragment="workBar">
<form method="post" th:action="@{/delproduct}">
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Megnevezés</th>
        <th>Helység</th>
        <th>Leírás</th>
        <th>Futár</th>
        <th>Száll. nap</th>
      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${companies}">
        <td th:text="${list.name}">John</td>
        <td th:text="${list.city}">Doe</td>
        <td th:text="${list.address}">Doe</td>
        <td th:text="${list.employe.name}">Doe</td>
        <td th:if="${list.deliverydays==null}" >Kötetlen</td>
        <td th:unless="${list.deliverydays==null}" th:text="${list.deliverydays}"></td>
      </tr>
      
    </tbody>
  </table>
<button type="submit" id="rogzit" disabled="true">RÖGZÍT</button>
</form>
</div>

</body>
</html>