<!DOCTYPE html>
<html layout:decorate="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/list.css">
<script src="js/list.js"></script>


<script>
function PopupCenter(url, title, w, h) {
    // Fixes dual-screen position                         Most browsers      Firefox
    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
    var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var systemZoom = width / window.screen.availWidth;
var left = (width - w) / 2 / systemZoom + dualScreenLeft
var top = (height - h) / 2 / systemZoom + dualScreenTop
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w / systemZoom + ', height=' + h / systemZoom + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) newWindow.focus();
}



$(document).ready( function () {
    $('#myTable').DataTable();
} );


function calc(id)
{
  if (document.getElementById(id).checked) 
  {
      document.getElementById('rogzit').disabled = false;
  } else {
	  document.getElementById('rogzit').disabled = true;
  }
}



</script>

</head>
<body>



<div layout:fragment="infoBar">

<h1>Ügyfelek listája</h1>
  <p>A törléssel csak óvatosan</p>
<div th:if="${compok}" class="alert alert-success">
  <strong>Sikeres módosítás</strong>
</div>
</div>

<div layout:fragment="workBar">
<form action="/selectedcomps" method="post">
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
      	<th>Kijelölés</th>
        <th>Megnevezés</th>
        <th>Helység</th>
        <th>Cím</th>
        
        <th>Megjegyzés</th>
        <th>Szerkesztés</th>

      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${companies}">
      
      	<td ><input type="checkbox" name="compid" th:value="${list.id}" th:id="${list.id}" onclick="if (this.checked==true) document.getElementById('osszes').value=document.getElementById('osszes').value+this.value+','; else document.getElementById('osszes').value=document.getElementById('osszes').value.replace(this.value+',','')"/></td>
        <td th:text="${list.name}">John</td>
        <td th:text="${list.city}">Doe</td>
        <td th:text="${list.address}">Doe</td>
        <td th:text="${list.comment}"></td>
        <td><button class="btn btn-primary" th:value="'http://localhost:8080/company/'+${list.id}" onclick="PopupCenter(this.value,'xtf','900','500');">Szerkesztés</button></td>
      </tr>
      
    </tbody>
  </table>


<input type="text" id="osszes" name="osszes" readonly></input>
<button type="submit">Szerkesztő mód a kijelöltekkel</button></form>
</div>

</body>
</html>