<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="main/bootstrap.min.css">
<script src="main/jquery.min.js"></script>
<script src="main/popper.min.js"></script>
<script src="main/js/bootstrap.min.js"></script>
<title>Insert title here</title>


<style>

table{

padding: 0px;
margin: 0px;
}

td{
padding: 0px;
margin: 0px;
border: solid;
border-width: 1px;
}

tr{
height: 40px;
}

.vizek{

width: 80px;
}

.megj{
width: 250px;
}

.ures{
background-color: #D8D4D4;

}

</style>

    <script type="text/javascript">
    function load_content ( id, content ) {
      var node = document.getElementById( id );
      node.innerHTML = content;
    }
    </script>
</head>
<body>



<table id="table">
<tr>	
		<td align="center" width="20px">#</td>
		<td width="200px" align="center">Vizek</td>
		<td   class="megj"  align="center">Város</td>
        <td     align="center" width="50px">FENTEBB</td>
        <td     align="center" width="50px">LENTEBB</td>
        <td  align="center" width="50px">KIVESZ</td>
        <td     align="center">BESZÚR</td>
        
    </tr>
    <tr th:each="list:${daylist}">
    <td  align="center" width="20px"><form method="post" th:action="@{/sorszamcsere}"><input type="hidden" name="keroid" th:value="${list.id}"/><input type="number" name="ujsorszam"  th:value="${list.sorszam}" size="3" style="text-align: center" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"/></form></td>
    <td align="right" width="200px" ><font  th:text="${list.company.name}" style="margin-right: 5px; font-family:sans-serif;"></font></td>
	
	<td class="tele" th:text="${list.company.city}"></td>
	<td align="center"><div th:if="${list.sorszam<maxsorszam}"  width="50px"><form method="post" th:action="@{/daylistle}" ><input type="image" src="images/down_arrow.png" width="30px" /><input type="hidden" name="sorszam" th:value="${list.sorszam}"></input></form></div></td>
	<td align="center" class="vizek" ><div th:if="${list.sorszam>1}"  width="50px"><form method="post" th:action="@{/daylistfel}" ><input type="image" src="images/up_arrow.png" width="30px" /><input type="hidden" name="sorszam" th:value="${list.sorszam}"></input></form></div></td>
	<td align="center" class="vizek" ><form method="post" th:action="@{/daylistkivesz}" ><input type="hidden" name="kivesz" th:value="${list.id}"><input type="hidden" name="sorszam" th:value="${list.sorszam}"></input><input type="image" src="images/delete.png" width="30px" /></form></td>
    <td class="tele" ><form method="post" th:action="@{/daylistbeszur}" ><input type="hidden" name="elozo" th:value="${list.sorszam}"></input>
    
    <select name="ujcomp">
    	<option th:each="list:${allcompany}" th:value="${list.id}" th:text="${list.name}+' - '+${list.city}">
    	</option>
    </select>
    
    <button  type="submit" >BESZÚR</button></form>
    <div id="beszur"></div>
   
    </td>
    
    </tr>
        
    <tr>
    
    </tr>
</table>

<form th:action="@{/keszdaylist}" method="post">

<button type="submit">NYOMTATHATÓ VERZIÓ</button>
</form>

<form th:action="@{/daylistsave}" method="post" onSubmit="if (!confirm('Menthetem?')) return false;">
<input name="newlistname" required placeholder="az új fixlista neve"></input>
<button type="submit" class="btn btn-success">ÚJ FIX LISTA MENTÉSE</button>

</form>

<br><br>


<form th:action="@{/daylistupdate}" method="post" onSubmit="if (!confirm('Felülírhatom?')) return false;">


<select name="name">
<option th:each="list:${csakfix}" th:text="${list}" ></option>

</select>
<button type="submit" class="btn btn-danger">LÉTEZŐ LISTA FELÜLÍRÁSA</button>
</form>



<br>

<a href="/">FŐOLDAL</a>




</body>
</html>