<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="main/bootstrap.min.css">
<script src="main/jquery.min.js"></script>
<script src="main/popper.min.js"></script>
<script src="main/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../chosen/chosen.min.css">

    <script src="../chosen/jquery.js"></script>

    <script src="../chosen/chosen.jquery.min.js"></script>

<title>Insert title here</title>


<style>

table{

padding: 0px;
margin: 0px;
}

td{
padding: 0px;
margin: 0px;
border: solid;
border-width: 1px;
}

tr{
height: 40px;
}

.vizek{

width: 80px;
}

.megj{
width: 250px;
}

.ures{
background-color: #D8D4D4;
}

.foablak{
border: solid;
padding:10px;
display: flex;
justify-content: space-between;
}

</style>

    <script type="text/javascript">
    
    function PopupCenter(url, title, w, h) {
        // Fixes dual-screen position                         Most browsers      Firefox
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        var systemZoom = width / window.screen.availWidth;
    var left = (width - w) / 2 / systemZoom + dualScreenLeft
    var top = (height - h) / 2 / systemZoom + dualScreenTop
        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w / systemZoom + ', height=' + h / systemZoom + ', top=' + top + ', left=' + left);

        // Puts focus on the newWindow
        if (window.focus) newWindow.focus();
    }

    
    
    function load_content ( id, content ) {
      var node = document.getElementById( id );
      node.innerHTML = content;
    }
    </script>
</head>
<body>
<div layout:fragment="infoBar">
<form method="post" th:action="@{/daylistbeszur}">
   <input type="hidden" name="napnev" th:value="${listanev}"> 
   
    <select name="ujcomp"  class="chosen">
    	<option th:each="list:${allcompany}" th:value="${list.id}" th:text="${list.city}+' - '+${list.name}">
    	</option>
    </select>
    <input type="number" name="elozo" placeholder="miután">
       <script type="text/javascript">

       $(".chosen").chosen();

 	</script>
    <button  type="submit" >BESZÚR</button>
    </form>
</div>

<div th:if="${savefail}" class="alert alert-danger">
			  	<strong>Sikertelen mentés!</strong> Van már lista ilyen névvel!
				</div>
<div th:if="${saveok}" class="alert alert-success">
			  	<strong>Sikeres mentés!</strong>
				</div>
<div th:if="${updateok}" class="alert alert-success">
			  	<strong>Sikeres felülirás!</strong>
				</div>


<div th:if="${listanev}" th:text="${listanev}">

</div>
<div class="foablak">
<div style="width:90%;height:600px; overflow-x: auto; white-space: nowrap;"> 
<table id="table">
<tr>	
		<td align="center" width="10px">#</td>
		<td width="200px" align="center">Cím</td>
		<td   class="megj"  align="center">Utca</td>
		<td   class="megj"  align="center">Megjegyz.</td>
		<td   class="megj"  align="center">Tartozás</td>
		<td   class="megj"  align="center">Város</td>
        <td     align="center" width="30px">FENTEBB</td>
        <td     align="center" width="50px">LENTEBB</td>
        <td  align="center" width="50px">KIVESZ</td>
        <td     align="center"><b>+</b></td>
        <td width="200px" align="center">Cím</td>
        
    </tr>
    <tr th:each="list:${daylist}">
    <td  align="center" width="20px"><form method="post" th:action="@{/sorszamcsere}"><input type="hidden" name="keroid" th:value="${list.id}"/><input type="hidden" name="napnev" th:value="${listanev}"><input type="number" name="ujsorszam"  th:value="${list.sorszam}" style="text-align: center" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"/></form></td>
    <td class="tele" style="background-color:lightblue"><div><form th:action="@{/changeName}"><input type="hidden" name="napnev" th:value="${listanev}"><input type="hidden" name="compid" th:value="${list.company.id}"><input type="text" name="name" th:value="${list.company.name}"  onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></form></div></td>
	<td class="tele"><div><form th:action="@{/changeAddress}"><input type="hidden" name="napnev" th:value="${listanev}"><input type="hidden" name="compid" th:value="${list.company.id}"><input type="text" name="address" th:value="${list.company.address}"  onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></form></div></td>
	<td class="tele"><div><form th:action="@{/changeComment}"><input type="hidden" name="napnev" th:value="${listanev}"><input type="hidden" name="compid" th:value="${list.company.id}"><input type="text" name="comment" th:value="${list.company.comment}"  onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></form></div></td>
	<td class="tele"  style="background-color:red"><div><form th:action="@{/changeTartozas}"><input type="hidden" name="napnev" th:value="${listanev}"><input type="hidden" name="compid" th:value="${list.company.id}"><input type="text" name="tartozas" th:value="${list.company.tartozik}"  onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></form></div></td>
	<td class="tele" th:text="${list.company.city}"></td>
	<td align="center"><div th:if="${list.sorszam<maxsorszam}"  width="50px"><form method="post" th:action="@{/daylistle}" ><input type="hidden" name="napnev" th:value="${listanev}"></input><input type="image" src="images/down_arrow.png" width="30px" /><input type="hidden" name="sorszam" th:value="${list.sorszam}"></input></form></div></td>
	<td align="center" class="vizek" ><div th:if="${list.sorszam>1}"  width="50px"><form method="post" th:action="@{/daylistfel}" ><input type="hidden" name="napnev" th:value="${listanev}"><input type="image" src="images/up_arrow.png" width="30px" /><input type="hidden" name="sorszam" th:value="${list.sorszam}"></input></form></div></td>
	<td align="center" class="vizek" ><form method="post" th:action="@{/daylistkivesz}" ><input type="hidden" name="napnev" th:value="${listanev}"><input type="hidden" name="kivesz" th:value="${list.id}"><input type="hidden" name="sorszam" th:value="${list.sorszam}"></input><input type="image" src="images/delete.png" width="30px" /></form></td>
    
    <td ><form method="post" action="/daylistujbeszur"><input type="hidden" name="listanev" th:value="${listanev}"><input type="hidden" name="miutan" th:value="${list.sorszam}"><input type="hidden" name="maxelem" th:value="${maxsorszam}"> <button type="submit">Újat beszúr</button></form></td>
    <td class="tele"><div><form th:action="@{/changeName}"><input type="hidden" name="napnev" th:value="${listanev}"><input type="hidden" name="compid" th:value="${list.company.id}"><input type="text" name="name" th:value="${list.company.name}"  onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></form></div></td>
    </tr>
        
   
</table>
</div>
<div style="margin:10px">
<form th:action="@{/keszdaylist}" method="post">
<input type="hidden" name="napnev" th:value="${listanev}">
<button type="submit">NYOMTATHATÓ VERZIÓ</button><br><br><br><br><br><br><br>
</form>

<form th:action="@{/daylistsave}" method="post" onSubmit="if (!confirm('Menthetem?')) return false;">
<input name="newlistname" required placeholder="az új fixlista neve"></input><br>
<button type="submit" class="btn btn-success">ÚJ FIX LISTA MENTÉSE</button>

</form>

<br><br>

<form th:action="@{/daylistupdate}" method="post" onSubmit="if (!confirm('Felülírhatom?')) return false;">


<select name="name">
<option th:each="list:${csakfix}" th:text="${list}" ></option>

</select><br>
<button type="submit" class="btn btn-danger">LÉTEZŐ LISTA FELÜLÍRÁSA</button>
</form>



<br>

<a href="/">FŐOLDAL</a>

</div>
</div>

</body>
</html>