<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<style>

table{

padding: 0px;
margin: 0px;
}

td{
padding: 0px;
margin: 0px;
border: solid;
border-width: 1px;
}

tr{
height: 40px;
}

.vizek{

width: 30px;
}

.megj{
width: 250px;
}

.ures{
background-color: #D8D4D4;
width: 30px;
text-align: center;
}

.tele{
text-align: center;

width: 30px;
}

.tartozik{
text-align: left;

width: 40px;
}


.proba{


page-break-after: always;
}

.halvany{

opacity: 0.2;
}

.penz{
width: 140px;
}

.tartozik{
text-transform: uppercase;
text-decoration:underline;

font-weight: bold;
}
.tartozik2{

}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

</style>


</head>
<body>


<div th:if="${companies}">
Dátum: ...................&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Név: ................. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Váltópénz: ...........&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size="6"><label th:if="${listanev}" th:text="${listanev}"></label></font>
 <br><br>
<table id="table" >

<tr >	<td width="200px" align="center">Címek</td>
	<td  width="100px"   align="center">Leírás</td>
		<td class="penz"  style="width:80px" align="center">pénz</td>
        <td colspan="2" class="vizek"  align="center">VIA</td>
        <td colspan="2" class="vizek"  align="center">Pannónia</td>
        <td colspan="2" class="vizek"   align="center">Milotai</td>
        <td colspan="2" class="vizek"  align="center">Brill</td>
        <td colspan="2" class="vizek"   align="center">AVE</td>
        <td colspan="6" class="vizek" style="width:450px"  align="center">PÍ - SZK - Megjegyzés</td>
        
    
        
    </tr>


    <tr th:each="list:${companies}" >
    <td align="right" width="200px" th:if="${list.company.name==list.company.address}">
    <font th:classappend="${list.company.tartozik!=null && !#strings.isEmpty(list.company.tartozik)} ? tartozik:tartozik2" th:text="${list.company.name}+' - '+${list.company.city}" style="margin-right: 2px; font-family:sans-serif; font-size: 13px;"></font>
	
    
    
    </td>
	
	<td align="right" width="200px" th:unless="${list.company.name==list.company.address}">
    <font th:classappend="${list.company.tartozik!=null && !#strings.isEmpty(list.company.tartozik)} ? tartozik:tartozik2" th:unless="${list.company.name==list.company.address}"  th:text="${list.company.name}+' - '+${list.company.address}+' - '+${list.company.city}" style="margin-right: 2px; font-family:sans-serif; font-size: 13px;"></font>
	</td>
	
	
	
	<td align="center" width="100px" ><font th:text="${list.company.comment}" style="margin-right: 2px; font-family:sans-serif; font-size: 10px;"></font></td>
  	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    
    <td class="tartozik"  colspan="6" width="500px"><font style="font-family:sans-serif; font-size: 10px;"  th:text="${list.company.tartozik!=null && !#strings.isEmpty(list.company.tartozik)} ? ${list.company.tartozik}">&nbsp;</font></td>
    
    
    
    </tr>
        
  <tr >
    <td align="right" width="200px" ></td>
    <td  align="center" width="100px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="6">&nbsp;</td>
  </tr>
  <tr >
    <td align="right" width="200px" ></td>
    <td  align="center" width="100px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="6">&nbsp;</td>
  </tr>
  <tr >
    <td align="right" width="200px" ></td>
    <td  align="center" width="100px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="6">&nbsp;</td>
  </tr>
  <tr >
    <td align="right" width="200px" ></td>
    <td  align="center" width="100px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="6">&nbsp;</td>
  </tr>
  <tr >
    <td align="right" width="200px" ></td>
    <td  align="center" width="100px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="6">&nbsp;</td>
  </tr>
  <tr >
    <td align="right" width="200px" ></td>
    <td  align="center" width="100px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="6">&nbsp;</td>
  </tr>
  
  
</table>

<form th:action="@{/daylistszerkesztomod}" method="post">

<button class="no-print" type="submit">SZERKESZTŐ MÓD</button>
</form>

<a  class="no-print" href="/">FŐOLDAL</a>
</div>

<div th:unless="${companies}">

<form method="post" action="/daylistCreate">
<select name="dayid">

<option th:each="list:${days}" th:text="${list.name}" th:value="${list.id}"></option>

</select>

<button type="submit">LISTA</button>
</form>
</div>






</body>
</html>