<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style>

table{

padding: 0px;
margin: 0px;
}

td{
padding: 0px;
margin: 0px;
border: solid;
border-width: 1px;
}

tr{
height: 40px;
}

.vizek{

width: 80px;
}

.megj{
width: 250px;
}

.ures{
background-color: #D8D4D4;
width: 40px;
text-align: center;
}
.tele{
text-align: center;

width: 40px;
}

.proba{


page-break-after: always;
}

.halvany{

opacity: 0.1;
}

.penz{
width: 70px;
}
</style>


</head>
<body>


<div th:if="${companies}">
Dátum: ...................&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Név: ................. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Váltópénz: ........... <br><br>
<table id="table" >

<tr >	<td width="200px" align="center">Címek</td>
	
		<td class="penz"  style="width:80px" align="center">pénz</td>
        <td colspan="2" class="vizek"  align="center">VIA</td>
        <td colspan="2" class="vizek"  align="center">Pannónia</td>
        <td colspan="2" class="vizek"   align="center">Milotai</td>
        <td colspan="2" class="vizek"  align="center">Brill</td>
        <td colspan="2" class="vizek"   align="center">AVE</td>
        <td colspan="2" class="vizek"  align="center">PÍ</td>
        <td colspan="2" class="vizek"  align="center">SZentK.</td>
        <td colspan="2"  class="megj"  align="center">Megjegyzés</td>
        <td  width="100px"   align="center">Leírás</td>
    
        
    </tr>


    <tr th:each="list:${companies}" >
  
  

    
        <td align="right" width="200px" ><font  th:text="${list.company.name}+' - '+${list.company.city}" style="margin-right: 2px; font-family:sans-serif; font-size: 13px;"></font></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ><font th:text="${list.company.comment}" style="margin-right: 2px; font-family:sans-serif; font-size: 10px;"></font></td>
    
    
    </tr>
        
  <tr >
        <td align="right" width="200px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr>
    <tr >
      <td align="right" width="200px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr><tr >
        <td align="right" width="200px" ></td>
	<td  class="penz">&nbsp;</td>
    <td class="tele" ><font class="halvany">V</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">P</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">M</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">B</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">Ave</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">PÍ</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" ><font class="halvany">SzK</font></td>
    <td class="ures" >&nbsp;</td>
    <td class="tele" colspan="2">&nbsp;</td>
    <td  width="100px" ></td>
    
    
    </tr>
</table>

<form th:action="@{/daylistszerkesztomod}" method="post">

<button type="submit">SZERKESZTŐ MÓD</button>
</form>

<a href="/">FŐOLDAL</a>
</div>

<div th:unless="${companies}">

<form method="post" action="/daylistCreate">
<select name="dayid">

<option th:each="list:${days}" th:text="${list.name}" th:value="${list.id}"></option>

</select>

<button type="submit">LISTA</button>
</form>
</div>






</body>
</html>