<!DOCTYPE html>
<html th:xmlns="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../main/bootstrap.min.css">
<script src="../main/jquery.min.js"></script>
<script src="../main/popper.min.js"></script>
<meta charset="UTF-8">
<title>Ügyfél szerkesztés</title>
</head>
<body>
<div>
<center><h2><font th:text="${company.name}"></font> adatai</h2></center>

</div>
<div th:if="${editsuccess}" class="alert alert-success">
  <strong>Sikeres módosítás</strong>
</div>
<div>


<form method="post" th:action="@{/editCompanyToDb}" th:object="${company}">

   <input type="hidden" th:value="${company.id}" th:field="*{id}"></input>
  


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Ügyfél megnevezése</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${company.name}" th:field="*{name}" name="compnev">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Helység:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${company.city}" name="compcity" th:field="*{city}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Cím:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${company.address}" name="compaddress" th:field="*{address}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Megjegyzés:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${company.comment}" th:field="*{comment}" name="compcomment">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Kiszállító:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${company.employe.name}"  readonly>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" th:text="'Szállítási nap: ('+${company.days.name}+')'" id="inputGroup-sizing-sm"></span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  id="deldays" readonly name="deldays">
</div>


<select name="empid">
<option th:each="emps:${employes}" th:text="${emps.name}" th:value="${emps.id}"></option>
</select>

<select name="dayid" >
<option th:each="days:${days}" th:text="${days.name}" th:value="${days.id}"></option>
</select>

<button type="submit">Módosítás mentése</button>

</form>
</div>



</body>
</html>