<!DOCTYPE html>
<html th:xmlns="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../main/bootstrap.min.css">
<script src="../main/jquery.min.js"></script>
<script src="../main/popper.min.js"></script>
<meta charset="UTF-8">
<title>Ügyfél szerkesztés</title>
</head>
<body>
<div>
<center><h2><font th:text="${product.name}"></font> adatai</h2></center>

</div>
<div th:if="${editsuccess}" class="alert alert-success">
  <strong>Sikeres módosítás</strong>
</div>
<div>


<form method="post" th:action="@{/editProductToDb}" th:object="${product}">

   <input type="hidden" name="productid" th:value="${product.id}"></input>
  


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Termék megnevezése</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${product.name}" name="productname">
</div>


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Megjegyzés:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${product.description}" name="productcomment">
</div>




<button type="submit">Módosítás mentése</button>

</form>
</div>



</body>
</html>