<!DOCTYPE html>
<html layout:decorator="layouts/main" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta charset="UTF-8">
<script>



function calc(id)
{
	  if (document.getElementById(id).checked) 
	  {
		  
		  document.getElementById('uresvane').style.visibility = 'visible';
		  document.getElementById('uresbox').value = 1;
		  
	      
	  } else {
		  
		  document.getElementById('uresvane').style.visibility = 'hidden';
		  document.getElementById('uresbox').value = 0;
	  }
}
</script>


</head>
<body>

<div layout:fragment="infoBar">
<h1>Eladás</h1>
<p>Ide írod az eladott <strong>teli vizeket, gépeket, pumpát, szörpöt</strong></p>
  
  
  <div th:if="${regok}" class="alert alert-success">
  <strong>Siker!</strong> Termék sikeresn regisztrálva
</div>

<div th:if="${vanmar}" class="alert alert-danger">
  <strong>Van már ilyen!</strong> Mondtam, hogy nézd meg a listát!
</div>
  
</div>


<div layout:fragment="workBar">

<form method="post" th:object="${stock}" th:action="@{/keszletrolLevetel}" onSubmit="if (!confirm('Biztos vagy benne?')) return false;" >
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Ki adta el?</span>
  </div>
  <select th:field="*{employe}"><option  th:each="emp:${emps}" th:text="${emp.name}" th:value="${emp.id}"></option></select>
</div>


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Mit adott el?</span>
  </div>
  <select th:field="*{product}"><option  th:each="prod:${products}" th:text="${prod.name}" th:value="${prod.id}"></option></select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Mennyiség:</span>
  </div>
  <input type="number" name="amount" min="1" max="2000" class="form-control" th:field="*{amount}" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Dátum: </span>
  </div>
  <input type="date" name="bday" th:field="*{date}" required>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Leírás, információ</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{comment}">
</div>




<button type="submit" class="btn btn-outline-success" >Rögzítés</button>



</div>

</form>

</body>
</html>