<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/main">
<head>
<meta charset="UTF-8">
<title>Lekérdezés</title>
<style type="text/css">

td{
width:50px;
align: center;
}


</style>

</head>
<body>
<div layout:fragment="infoBar">

<h2 th:if="${employe}" th:text="${employe}+' - '+${datum}"></h2>
<h2 th:unless="${employe}" th:text="${datum}"></h2>

Eladott: <h2 th:if="${eladott}" th:text="${eladott}"></h2>
Bejött: <h2 th:if="${bejott}" th:text="${bejott}"></h2>

</div>
		 

<div layout:fragment="workBar">

		<table width="80%">
		
		<tr th:each="list:${lekerdezes}">
			<td th:text="${list.product.name}"></td>
			<td th:if="${list.incoming==0}" th:text="VISSZAHOZOTT"></td>
			<td th:if="${list.incoming==1}" th:text="ELADOTT"></td>
			<td th:if="${list.incoming==2}" th:text="SELEJT"></td>
			<td th:text="${list.amount}+' db.'"></td>
			
			<td th:text="${list.comment}"></td>
		</tr>
		
		
		
		
		</table>
		
	
	
</div>

</body>
</html>