<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/main">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>



</head>
<body>


<div layout:fragment="workBar">

<div style="border:solid; border-radius: 10px; padding: 10px;border-color: lightgrey">
<fieldset>
  <legend>Napi lekérdezés:</legend>
<form th:action="@{/lekerdezes2}" method="post">

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Dátum: </span>
  </div>
  <input type="date" name="bday"  required>
</div>




<select class="selectpicker" data-style="btn-info" name="empid">
  
  
  <option th:each="emps:${employes}" th:text="${emps.name}" th:value="${emps.id}"></option>
  <option value=0 selected="selected">Válassz kollégát...</option>
</select>


<select class="selectpicker" data-style="btn-warning" name="pid">
  
  <option value="0">összes termék</option>
  <option th:each="prod:${products}" th:text="${prod.name}" th:value="${prod.id}"></option>
  
</select>



<button type="submit" class="btn btn-outline-success" value="napi" name="gomb">Success</button>

</form>
</fieldset>
</div>




<div style="border:solid; border-radius: 10px; padding: 10px;border-color: lightgrey; margin-top:20px">
<fieldset>
  <legend>Havi lekérdezés:</legend>
<form th:action="@{/lekerdezes2}" method="post">

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Dátum: </span>
  </div>
  <select name="bday"><option th:each="list:${dates}" th:text="${list}" th:value="${list}"></option></select>
</div>




<select class="selectpicker" data-style="btn-info" name="empid">
  
  
  <option th:each="emps:${employes}" th:text="${emps.name}" th:value="${emps.id}"></option>
  <option value=0 selected="selected">Válassz kollégát...</option>
</select>


<select class="selectpicker" data-style="btn-warning" name="pid">
  
  <option value="0">összes termék</option>
  <option th:each="prod:${products}" th:text="${prod.name}" th:value="${prod.id}"></option>
  
</select>



<button type="submit" class="btn btn-outline-success" value="havi" name="gomb">Success</button>

</form>
</fieldset>
</div>


</div>






</body>
</html>