<!DOCTYPE html>
<html layout:decorate="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/list.css">
<script src="js/list.js"></script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
function calc(id)
{
  if (document.getElementById(id).checked) 
  {
      document.getElementById('rogzit').disabled = false;
  } else {
	  document.getElementById('rogzit').disabled = true;
  }
}
</script>

</head>
<body>

<div layout:fragment="infoBar">
<h1>Gépek listája</h1>
  
  <div th:if="${nemtorolheto}" class="alert alert-danger">
  <strong>Nem törölhető!!</strong> Készlet adat hivatkozik rá!
</div>

</div>

<div layout:fragment="workBar">

  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Sorszám.</th>
        <th>Megnevezés</th>
        <th >Leírás</th>
        <th >Hol van?</th>
        <th >Típus</th>
      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${machinelist}">
        <td align="center" ><a th:text="${list.sorszam}" th:href="@{'/machine/'+${list.id}}"></a>.</td>
        <td th:text="${list.name}">Doe</td>
        <td th:text="${list.comment}">Doe</td>
        
        <td  th:if="${list.company==null}" >RAKTÁR</td>
        <td  th:unless="${list.company==null}" th:text="${list.company.name}"></td>
         
		<td th:if="${list.type==1}">Sima</td>
		<td th:if="${list.type==2}">CO2</td>
		<td th:if="${list.type==3}">Hálózati</td>
      </tr>
      
    </tbody>
  </table>

</form>

</div>


</body>
</html>