<!DOCTYPE html>
<html layout:decorate="layouts/main" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<script type="text/javascript">


function atir(){
	
	
	if (document.getElementById("chk").checked==true){
		document.getElementById("address").value=document.getElementById("name").value;
	} else document.getElementById("address").value="";
	
}
</script>


</head>
<body>

<div layout:fragment="infoBar">
<h1>Új ügyfél rögzítése</h1>
  
  


  
</div>


<div layout:fragment="workBar">

<form method="post"  th:action="@{/newCompanyToDb}" th:object="${company}"  onSubmit="if(!confirm('Mented a változásokat?')){return false;}">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Név</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required th:field="*{name}" id="name" autofocus>
  <br />&nbsp;&nbsp;<input type="checkbox" onclick="atir()" id="chk" />
</div>


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Helység</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required  th:field="*{city}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Cím</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required  th:field="*{address}" id="address">
</div>


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Szállítási nap</span>&nbsp&nbsp
  </div>

<select name="days"><option  th:each="days:${daylist}" th:text="${days.name}" th:value="${days.id}"></option></select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Futár</span>&nbsp&nbsp
  </div>

<select th:field="*{employe}"><option  th:each="emp:${futar}" th:text="${emp.name}" th:value="${emp.id}"></option></select><br/><br/>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Megjegyzés</span>
  </div>
  <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" th:field="*{comment}"></textarea>
  
</div>

<p><button type="submit" class="btn btn-outline-success">Rögzítés</button></p>
</form>

<div th:if="${siker}">
<script type="text/javascript">
   jQuery(document).ready(function($){
	   alert("Az új kolléga sikeresen regisztrálva");
	   });
   </script>
</div>


</div>



</body>
</html>