<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  layout:decorate="layouts/main">
<head>
<meta charset="UTF-8">
<title>Ún nap rögzítés</title>
</head>
<body>



<div layout:fragment="infoBar">
<h2>Új nap hozzáadása</h2>

<div th:if="${regok}" class="alert alert-success">
  <strong>Új nap sikeresen rögzítve</strong>
</div>

</div>

 
<div layout:fragment="workBar">


<form th:action="@{/addNewDayToDb}" method="post" th:object="${newday}" onSubmit="if (!confirm('Rögzíthetem?')) return false;">  
<div class="input-group input-group-sm mb-3">

  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Név</span>
  </div>

  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required th:field="*{name}"/>
</div>


<button type="submit"  name="gomb" class="btn btn-outline-success" >LÉTREHOZ</button>
</form>

<p>Eddig felrögzítve:</p>
<div th:each="list:${daylist}">

<div th:text="${list.name}"></div>


</div>

</div>




</body>
</html>