<!DOCTYPE html>
<html layout:decorator="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/list.css">
<script src="js/list.js"></script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

</head>
<body>

<div layout:fragment="infoBar">
<h1>Termékek listája</h1>
</div>

</div>

<div layout:fragment="workBar">
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Megnevezés</th>
        <th>Raktáron</th>
        
      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${productlist}">
        <td th:text="${list.name}">John</td>
        <td th:text="${list.amount}">Doe</td>
        
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>