<!DOCTYPE html>
<html layout:decorator="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/list.css">
<script src="js/list.js"></script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );





function PopupCenter(url, title, w, h) {
    // Fixes dual-screen position                         Most browsers      Firefox
    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
    var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var systemZoom = width / window.screen.availWidth;
var left = (width - w) / 2 / systemZoom + dualScreenLeft
var top = (height - h) / 2 / systemZoom + dualScreenTop
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w / systemZoom + ', height=' + h / systemZoom + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) newWindow.focus();
}

</script>
</head>
<body>

<div layout:fragment="infoBar">
<h1>Termékek listája</h1>
<div th:if="${delok}" class="alert alert-success">
  <strong>Sikeres törlés</strong>
</div>
<div th:if="${delfail}" class="alert alert-danger">
  <strong>Nem törölhető! Készletadat hivatkozik rá.</strong>
</div>

</div>

</div>

<div layout:fragment="workBar">
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Megnevezés</th>
        
        <th>Leírás</th>
        <th>Szerkesztés</th>
        <th>Törlés</th>
      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${productlist}">
        <td id="nev" th:text="${list.name}">John</td>
        
        <td   th:text="${list.description}">Doe</td>
         
<td><button class="btn btn-primary" th:value="'http://localhost:8080/product/'+${list.id}" onclick="PopupCenter(this.value,'xtf','900','500');">Szerkesztés</button></td>
            
                
        </td>
        <td>
        <form method="post" th:action="@{/delproduct}" onSubmit="if(!confirm('Törölhetem?')){return false;}">
         
			<button type="submit" th:value="${list.id}"  name="gomb" class="btn btn-outline-danger" th:text="${list.name}">TÖRÖL</button>
			</form>            
        </td>
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>