<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" layout:decorate="layouts/main">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<link rel="stylesheet" href="../main/bootstrap.min.css">
<script src="../main/jquery.min.js"></script>
<script src="../main/popper.min.js"></script>
<script src="../main/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../chosen/chosen.min.css">

    <script src="../chosen/jquery.js"></script>

    <script src="../chosen/chosen.jquery.min.js"></script>

<style>
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     margin-left: 17px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.radio-igen:checked
{
     background-color: lightgreen;
}

.radio-nem:checked
{
     background-color: red;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 
</style>



</head>
<body>

<div layout:fragment="workBar">

<h2><font th:text="${selected.sorszam}"></font>-s sorszámú gép adatai</h2>

<div th:if="${siker}" class="alert alert-success">
  <strong>Változtatások rögzítve</strong> 
</div>
<div th:if="${foglalt}" class="alert alert-danger">
  <strong>Sikertelen módosítás!</strong> Ez a sorszám foglalt vagy nem alkalmazható!
</div>
<div th:if="${reminderhiba}" class="alert alert-danger">
  <strong>Sikertelen emlékeztető beállítás!</strong> A leírás és a dátum kötelező!
</div>



<form method="post" th:action="@{/machHistoryToDb}" th:object="${selected}">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Sorszám</span>
  </div>
    <input type="text"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="ujsorszam" th:value="${selected.sorszam}" >
  <input type="hidden"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="regisorszam" th:value="${selected.sorszam}" >
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{id}">
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{type}">
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="oldcompid" th:value="${selected.company.id}">
  
</div>





<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Gép</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{name}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Leírása:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  th:field="*{comment}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Jelenlegi hely:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled th:field="*{company.name}" >
  
</div>


    
    


  <select class="chosen" name="compid">
<option th:text="${selected.company.name}" th:value="${selected.company.id}" selected></option>
<option th:each="list:${comps}" th:text="${list.name}+' '+${list.city}" th:value="${list.id}"></option>

 </select>
    
    <script type="text/javascript">

      $(".chosen").chosen();

</script>

<br><br>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Emlékeztető beállítása</span>&nbsp;
    <input type="radio" name="alertradio" value="no" id="radio-one" class="form-radio radio-nem" checked><label for="radio-one">Nem</label>&nbsp;&nbsp;
<input type="radio" name="alertradio" value="yes" id="radio-one" class="form-radio radio-igen"><label for="radio-one">Igen</label>
    
  </div><br><br>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Lejárati dátum: </span>
  </div>&nbsp;&nbsp;
  <input type="date" name="alertdate" >
  <div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Leírása:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" name="alertcomment" aria-describedby="inputGroup-sizing-sm">
</div>


<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Jelzés előtte  ....  nappal:</span>
  </div>
  <input type="number" value="7" class="form-control" aria-label="Small" name="alerttime" aria-describedby="inputGroup-sizing-sm">
</div>

</div>
  
</div>
    
<button type="submit" >Rögzít</button>

</form>


<div th:if="${hiba}" class="alert alert-danger">
  <strong>Helytelen kitöltés!</strong>
</div>

<br/><br/>
<div th:each="list:${history}" style="background-color: yellow">
<p th:text="${list.company.name}+' - '+${list.date}"></p>

</div>
<a href="/machinelist">Gép lista</a> 
</div>







</body>
</html>