<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" layout:decorate="layouts/main">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<link rel="stylesheet" href="../main/bootstrap.min.css">
<script src="../main/jquery.min.js"></script>
<script src="../main/popper.min.js"></script>
<script src="../main/js/bootstrap.min.js"></script>

</head>
<body>

<div layout:fragment="workBar">

<center><h2><font th:text="${selected.sorszam}"></font>-s sorszámú gép adatai</h2></center>
<div th:if="${siker}" class="alert alert-success">
  <strong>Változtatások rögzítve</strong> 
</div>
<div th:if="${foglalt}" class="alert alert-danger">
  <strong>Sikertelen módosítás!</strong> Ez a sorszám foglalt vagy nem alkalmazható!
</div>



<form method="post" th:action="@{/machHistoryToDb}" th:object="${selected}">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Sorszám</span>
  </div>
    <input type="text"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="ujsorszam" th:value="${selected.sorszam}" >
  <input type="hidden"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="regisorszam" th:value="${selected.sorszam}" >
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{id}">
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{type}">
  
</div>





<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Gép</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{name}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Leírása:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  th:field="*{comment}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Jelenlegi hely:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled th:field="*{company.name}" >
  
</div>


<select name="compid">
<option th:text="${selected.company.name}" th:value="${selected.company.id}"  selected></option>
<option th:each="list:${comps}" th:text="${list.name}" th:value="${list.id}"></option>

</select>

<button type="submit" >Rögzít</button>

</form>
</div>
 







</body>
</html>