<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" layout:decorate="layouts/main">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<link rel="stylesheet" href="../main/bootstrap.min.css">
<script src="../main/jquery.min.js"></script>
<script src="../main/popper.min.js"></script>
<script src="../main/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../chosen/chosen.min.css">

    <script src="../chosen/jquery.js"></script>

    <script src="../chosen/chosen.jquery.min.js"></script>




</head>
<body>

<div layout:fragment="workBar">

<h2><font th:text="${selected.sorszam}"></font>-s sorszámú gép adatai</h2>

<div th:if="${siker}" class="alert alert-success">
  <strong>Változtatások rögzítve</strong> 
</div>
<div th:if="${foglalt}" class="alert alert-danger">
  <strong>Sikertelen módosítás!</strong> Ez a sorszám foglalt vagy nem alkalmazható!
</div>



<form method="post" th:action="@{/machHistoryToDb}" th:object="${selected}">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Sorszám</span>
  </div>
    <input type="text"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="ujsorszam" th:value="${selected.sorszam}" >
  <input type="hidden"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="regisorszam" th:value="${selected.sorszam}" >
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{id}">
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{type}">
  <input type="hidden" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="oldcompid" th:value="${selected.company.id}">
  
</div>





<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Gép</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:field="*{name}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Leírása:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  th:field="*{comment}">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Jelenlegi hely:</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled th:field="*{company.name}" >
  
</div>


    
    


  <select class="chosen" name="compid">
<option th:text="${selected.company.name}" th:value="${selected.company.id}" selected></option>
<option th:each="list:${comps}" th:text="${list.name}+' '+${list.city}" th:value="${list.id}"></option>

 </select>
    
    <script type="text/javascript">

      $(".chosen").chosen();

</script>
    
<button type="submit" >Rögzít</button>

</form>


<div th:if="${hiba}" class="alert alert-danger">
  <strong>Helytelen kitöltés!</strong>
</div>

<br/><br/>
<div th:each="list:${history}" style="background-color: yellow">
<p th:text="${list.company.name}+' - '+${list.date}"></p>

</div>
<a href="/machinelist">Gép lista</a> 
</div>








</body>
</html>