<!DOCTYPE html>
<html layout:decorate="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/list.css">
<script src="js/list.js"></script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

</head>
<body>
        
<div layout:fragment="infoBar">
<h1>Termékek listája</h1>

  <p>A törléssel csak óvatosan</p>
  <div th:if="${nemtorolheto}" class="alert alert-danger">
  <strong>Nem törölhető!!</strong> Készlet adat hivatkozik rá!
</div>

</div>


<div layout:fragment="workBar">
<form method="post" th:action="@{/delstock}" onSubmit="if(!confirm('Mented a változásokat?')){return false;}">
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
      	<th>ID</th>
        <th>Dátum</th>
        <th>Bejövő/Kimenő</th>
        <th>Mennyiség</th>
        <th>Ki hozta</th>
        <th>Termék</th>
        <th>Megjegyzés</th>
        <th>Töröl</th>
      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${stocklist}">
      <td th:text="${list.id}">John</td>
        <td th:text="${list.date}">John</td>
        <div th:if="${list.isBeerkezes()}">
        <td ><font color="green">Beérkezés</font></td>
        </div>
        <div th:if="${list.isEladas()}">
        <td ><font color="red">Eladás</font></td>
        </div>
        <div th:if="${list.isSelejt()}">
        <td ><font color="black">SELEJT</font></td>
        </div>
        
        <td  th:text="${list.amount}">Doe</td>
        <td  th:text="${list.employe.name}">Doe</td>
        <td  th:text="${list.product.name}">Doe</td>
        <td  th:text="${list.comment}">Doe</td>
        
        <td >
		<input type="checkbox" value="0" name="torlendok" style="visibility:hidden" checked>
         <input type="checkbox" th:value="${list.id}" name="torlendok">
         
		
		        
        </td>
      </tr>
    
    </tbody>
    
  </table>
        
<button type="submit"  onSubmit="if(!confirm('BIZTOSAN TÖRLÖD?')){return false;}" name="gomb" >KIJELÖLTEK TÖRLÉSE</button>
</form>     
</div>
  	
	

         
</body>
</html>