<!DOCTYPE html>
<html layout:decorate="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/list.css">



<script src="js/list.js"></script>


<script>
function PopupCenter(url, title, w, h) {
    // Fixes dual-screen position                         Most browsers      Firefox
    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
    var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var systemZoom = width / window.screen.availWidth;
var left = (width - w) / 2 / systemZoom + dualScreenLeft
var top = (height - h) / 2 / systemZoom + dualScreenTop
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w / systemZoom + ', height=' + h / systemZoom + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) newWindow.focus();
}



$(document).ready( function () {
    $('#myTable').DataTable();
} );


</script>
<style type="text/css">
.unstyled{
 border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
</style>
</head>
<body>

<div layout:fragment="infoBar">
<h1>Tartozók listája</h1>

<div th:if="${compok}" class="alert alert-success">
  <strong>Sikeres módosítás</strong>
</div>
</div>

<div layout:fragment="workBar">

  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Megnevezés</th>
        <th>Helység</th>
        <th>Cím</th>
        
        
        <th>Megjegyzés</th>
        <th>Szerkesztés</th>

      </tr>
    </thead>
    <tbody >
      <tr th:each="list:${companies}">
      	
        <td th:text="${list.name}"></td>  
        
        <td th:text="${list.city}">Doe</td>
        <td th:text="${list.address}">Doe</td>
        
        
     
        <td th:text="${list.tartozik}"></td>
        <td><button class="btn btn-primary" th:value="'http://localhost:8080/company/'+${list.id}" onclick="PopupCenter(this.value,'xtf','900','500');">Szerkesztés</button></td>
      </tr>
      
    </tbody>
  </table>


</div>


</body>
</html>